{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindPreserveDuplicates": true,
  "tailwindPreserveWhitespace": true,
  "tailwindConfig": "tailwind.config.ts"
}
